* {
    box-sizing: border-box;
    font-size: 1.4em;
    color: #5e6073;
}

body {
    background-color: #f2f2f2; /*grey*/
}

button {
    background-color: #fd931a;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    font-size: 0.4em;
    padding: 4%;
    margin: 5%;
}

.welcome-wrapper {
    display: flex;
    flex-direction: column;
}

.welcome-wrapper img {
    height: 20%;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-container a {
    display: inline-block;
    margin: 0 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reglogin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper h2 {
    width: 75%;
    margin-left: 25%;
}

.reglogin-form input {
    width: 80%;

    border: none;
    border-bottom: 3px solid #5e6073;
    background-color: #f2f2f2;
    font-size: 0.4em;
    margin: 0.3em;
}

.reglogin-form input:hover {
    border: 3px solid #fd931a; /*orange*/
}

.reglogin-form label {
    font-size: 0.2em;
}

.reglogin-form button {
    font-size: 0.4em;
}

.reglogin-form button:active {
    background-color: #ba9770;
}

.error,
.modal {
    position: fixed;
    width: 80%;
    background-color: white;
    font-size: 0.8em;
    border: 3px solid #5e6073;
    padding: 5%;
}

.modal p {
    font-size: 0.5em;
}

.webcam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal button {
    width: 33%;
}

.modal button:active {
    background-color: #ba9770;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
